*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: brown;
}
.img-continer{
 text-align: center;
 
}
.img-continer img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3) ;
    background-color: lightgray;
    height: 300px;
    width: 300px;
}
.btn{
    background-color: slateblue;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}